.file-folder-wrapper{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.file-folder-list-wrapper{
    list-style-type: none;
}

.list-item-container{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.list-item-wrap{
    display: flex;
    gap: 10px;
}
.folder-icon{
    cursor: pointer;
}

.add-folder,.delete-folder{
    display: flex;
    align-items: center;
}

.icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
}